<form>
  <label for="content">Leave a comment
    {{textarea value=content}}
  </label>
  <label for="author">Leave a name:
    {{input value=author}}
  </label>
  <button type="button" {{action 'save'}}>Submit Answer</button>
</form>
