<form>
  <label for="content">Comment Answer:
    {{textarea value=content}}
  </label>
  <label for="author">Name:
    {{input value=author}}
  </label>
  <button class="btn btn-primary btn-sm" {{action 'save'}}>Submit Answer</button>
</form>
