<header>
<h2 id="title"><span class="">Steak</span> <span class="Flow">ovalFlow</span></h2>
</header>

<div class="container">
  {{outlet}}
</div>

<footer>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</footer>
