<div class="container">
  <header>
    <h1 id="title">Message<span class="Flow">Board</span></h1>

    <h1>{{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'contact'}}Contact{{/link-to}} |
    {{#link-to 'favorite-question'}}Fav Q's{{/link-to}} | </h1>
  </header>

  {{outlet}}
</div>

<footer>

</footer>
