<h2 id="title">Welcome to Message-Board</h2>

<div class="container">
  {{outlet}}
</div>


<footer>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
  </ul>
</footer>
