<div class="container">
  <header>
    <h2 id="title">Message<span class="Flow">Board</span></h2>

    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'contact'}}Contact{{/link-to}} |
  </header>

  {{outlet}}
</div>

<footer>
  <div class="footer">
    <p>MessageBoard -- 2016</p>
  </div>
</footer>
